/*styling for the cyberpunk theme*/

body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Orbitron', sans-serif;
  background: linear-gradient(black 45%, hsl(300, 100%, 25%) 100%);
  color:#06ea47; /*Text color for contrast*/
}

h1, h2, h3 {
  font-weight: 700; /* Bold headers */
  text-shadow: 2px 4px 6px #800080;
}

p, li, span, a {
  font-weight: 400; /* Regular weight for paragraphs and other text */
}

.main-content {
    display: flex; /* Use flexbox for alignment */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    padding: 20px; /* Add padding around the content */
    min-height: 100vh; /* Ensure it takes at least the full height of the viewport */
    background: linear-gradient( black 45%, purple 100%); /* Your gradient */
    color: rgb(6, 234, 71); /* Text color */
}
